$site-default-font-family: 'Outfit', sans-serif;
$site-default-font-size: 18px;
$site-default-mobile-font-size: 16px;
$site-light: 300;
$site-regular: 400;
$site-bold: 500;
$site-extra-bold: 600;
$material-icons: 'Material Icons';

// common colors
$site-primary-color: #000;
$site-text-color: #000;

$link-color: $site-primary-color;
$link-color-hover: #39745e;
$link-color-focus: #5b8c7a;
$link-color-active: #6d9888;

// spacing
$spacing-default: 16px;
