$site-default-font-family: "Poppins", sans-serif;;
$site-default-font-size: 18px;
$site-default-mobile-font-size: 16px;
$site-light: 300;
$site-regular: 400;
$site-bold: 500;
$site-extra-bold: 600;
$material-icons: 'Material Icons';

// common colors
$site-text-color: #36394d;

$link-color: #4956e3;
$link-color-hover: #616efdc0;
$link-color-focus: #616efdc0;
$link-color-active: #4956e3;

// spacing
$spacing-1x: 8px;
$spacing-2x: 16px;
$spacing-3x: 24px;

// responsive breakpoints
$breakpoint-sm-up: 767px;
$breakpoint-md-down: 768px;
