@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.support-form-container {
	.note {
		font-size: 14px;
		margin-bottom: $spacing-2x;
	}

	.btn-primary {
		padding: 10px 50px;
		margin-right: $spacing-2x;

		&:hover, &:focus {
			background-color: $button-color;
		}
	}

	.question-textarea {
		height: 200px;
	}

	.successfully-submitted-container {
		display: inline-flex;
		vertical-align: top;
		margin-top: 10px;
		gap: $spacing-1x;
		font-size: 14px;
		color: #0c990c;

		.fa-thumbs-up {
			font-size: 20px;
		}
	}

	.alert {
		position: fixed;
		top: $spacing-3x;
		left: 50%;
		@include translateX(-50%);
		text-align: center;
		z-index: 1;

		&.alert-success {
			background-color: #000;
			border-color: #000;
			color: #caf8ca;
		}
	}



	@media (min-width: $breakpoint-md-down) {
		.successfully-submitted-container {
			font-size: 16px;
	
			.fa-thumbs-up {
				font-size: 24px;
			}
		}
	}

	@media (min-width: $breakpoint-sm-down) {
		.alert {
			width: 360px;
		}
	}

	@media (max-width: $breakpoint-xs-up) {
		.alert {
			width: 90%;
		}
	}
}