@import '../../styles/variables.scss';

.cypress-information-container {
	margin-top: $spacing-2x;

	ul, ol {
		li {
			line-height: 30px;
		}
	}

	.author {
		font-family: $site-default-font-family;
		font-size: $site-default-mobile-font-size;
		font-weight: $site-light;
		font-style: italic;
		color: #a09e9e;
	}

	.join-us-container {
		padding-top: $spacing-3x;

		&.first {
			padding-top: 0;
		}

		.join-us {
			background-color: yellow;
			padding-left: 5px;
			padding-right: 5px;
			font-weight: $site-bold;
		}
	}
	
	.spacer {
		margin-top: 40px;
	}




	@media (min-width: $breakpoint-md-down) {
		ul, ol {
			li {
				line-height: 40px;
			}
		}

		.author {
			font-size: $site-default-font-size;
		}
	}
}